/*#####  Base declarations #####*/

@font-face { 
	src: url('fonts/ClearSans'); 
}

body, html {
	font-family: ClearSans, Sans-Serif;
	max-width:1310px;
	margin: 5 auto;
} 

.clear-fix {
	clear:both;
}

hr {
	margin:20px 0px;
}

.blue {
	color:blue;
}

.red {
	color:#e11b22;
}

.grey {
	color:#aeb0b2;
}

.dark-grey {
	color:#6d6f71;
}

.light-grey {
	color:#e6e7e9;
}

.white {
	color:white;
}

.title {
	font-weight: bold;
	font-size:20px;
}

.title-smaller {
	font-weight: bold;
	font-size:15px;
}

.separator {
	width:100%;
	height: 1px;
	margin:20px 0px;
}

div .separator {
	background-image:url('../images/separator.jpg');
	background-repeat:repeat-x;
	width:100%;
	height: 1px;
}

.clear-fix {
	clear:both;
}

.three-columns {
	width:100%;
}

.three-columns .column{
	width:32.6%;
	float:left;
}

.middle {
	margin: 0% 1%;
}