.main-text {
	font-size:14px;
}

.company-element, 
.contacts-element {
	margin-top:20px;
}

.company-element div {
	display: inline-block;
}

.company-element .image {
	float:left;
}

.company-element img {
	width:100px;
}

.company-element h4,
.company-element h5{
	margin:0;
}

.company-element .details {
	margin-left:10px;
}

.contacts-element h2 {
	font-size:22px;
}

.contacts-element p {
	font-size: 15px;
}

.contacts-element iframe {
	width:400px;
	height: 300px;
}

@media only screen and (min-width: 768px) {
	
	.contacts-element h2 {
		font-size:28px;
	}

	.contacts-element p {
		font-size: 17px;
	}

	.contacts-element iframe {
		width:600px;
		height: 450px;
	}
	
}



@media only screen and (min-width: 980px) {
	
	.company-element .details {
		margin-left:20px;
	}

}