footer {
	width:100%;
	text-align: center;
	margin-bottom:20px;
}

footer p {
	display:inline;
	font-size:14px;
	color:grey;
}

footer img {
	vertical-align:middle;
}

.footer-upper {
	width:100%;
	display:inline-block;
}

.footer-upper div {
	width:96%;
	margin:0% 2%;
}

footer nav {
	display:none;
}

footer .footer-lower {
	font-size:13px;
	color:#6d6f71;
}


@media only screen and (min-width: 768px) {
	
	footer nav {
		display:inline-block;
		width:100%;
		margin-top:20px;
	}
	
	footer nav ul {
		margin:0px 5px;
		padding:0;
	}

	footer nav li {
		display:inline-block;
		margin-left:5%;
		font-size: 14px;
		text-transform: uppercase;
		color:#6d6f71;
	}

	footer nav li:first-child {
		margin-left:0px;
	}

	footer nav li:hover {
		cursor:pointer;
		color:#e11b22;
	}
	
}


@media only screen and (min-width: 980px) {
	
	footer .footer-upper div{
		display:inline;
	}

}