/*##### Header #####*/

header {
	width:100%;
	display: inline-block;
	background-color:white;
} 

header img {
	vertical-align:middle;
}

.logo {
	width:70%;
	max-width: 700px;
	float:left;
}

.header-upper div, .header-middle div {
	display:inline;
}

.language, .login {
	margin-left:20px;
}

.header-middle {
	margin-top:10px;
}

.header-lower {
	margin-top:10px;
}


.validate-budget {
	font-weight: bold;
	font-size:14px;
}

.validate-budget img{
	width:21px;
}

.search_field {
	width:190px;
	float: right;
	display: block;
	background-color:#e6e7e9;
}

.search_field input {
	width:78%;
	float:left;
	position:relative;
	left:2%;
	border: none;
	background-color:#e6e7e9;
	font-style:italic;
	font-size:11px;
	padding-top: 2%;
}

.search_field button {
	position:relative;
	right:-4%;
	float:right;
	border: none;
	background: none;
	font-size:10px;
}

.search_field button img {
	width:22px;
}

header nav {
	width:100%;
	display:inline-block;
}

header nav li {
	float:right;
	display:inline-block;
	margin-left:20px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

header nav li:hover {
	cursor:pointer;
	color:#e11b22;
}