.home-sections {
	width:90%;
	display: inline-block;
	margin: 15px 5%;
}

.home-sections div {
	width:100%;
	display: inline-block;
}

.home-sections .three-columns {
	display:none;
}

.section-select {
	text-align:center;
	background-color: #e11b22;
	transition: background-color 1s ease;
}

.home-sections:hover > .section-select  {
	background-color: #6d6f71;
}

.section-select h1 {
	display:inline-block;
	font-size:25px;
}

.section-select p {
	display:none;
}

.promotion,
.new {
	width:90%;
	margin: 20px 5%;
}

.two-columns h3, 
.two-columns h4 {
	margin:0;
}

.two-columns a{
	text-decoration: none;
}

.promotion img, 
.new img {
	width:100%;
}

.video {
	display:none;
}

.portfolio {
	width:90%;
	margin:0 5%;
}

.portfolio img {
	width:100%;
}

.home-sections:hover,
.promotion:hover,
.new:hover,
.portfolio:hover {
	cursor:pointer;
}

.location {
		width:100%;
		text-align:center;
	}
	
	.location p {
		display: inline-block;
		margin: 0% 5%;
	}
	
	.location img {
		vertical-align: middle;
	}

@media only screen and (min-width: 884px) {
	
	.home-sections {
		width:100%;
		margin: 15px 0;
	}

	.home-sections div {
		width:48%;
		height: 166.2px;
		font-size:15px;
	}

	.section-select {
		margin-left:4%;
	}

	.inverse {
		margin-left:0%;
		margin-right:4%;
	}

	.home-sections .three-columns {
		text-align:center;
	}

	.home-sections .three-columns div {
		position:relative;
		display:inline-block;
		width:124.8px;
		height: 166.2px;
		background-color:#e11b22;
	}

	.home-sections .three-columns img {
		width:100%;
		height:100%;
		max-width: 208px;
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
	}

	.home-sections:hover > .three-columns img {
		opacity:0.3;
	}

	.home-sections .three-columns div:first-child {
		margin-left:0;
		float:left;
	}

	.home-sections .three-columns div:last-child {
		margin-right:0;
		float:right;
	}

	.home-sections .three-columns {
		float:left;
		display: inline-block;
	}

	.section-select {
		text-align:center;
		float:left;
		background-color: #e11b22;
		transition: background-color 1s ease;
	}
	
	.section-select p {
		display:inline-block;
	}

	.home-sections:hover > .section-select  {
		background-color: #6d6f71;
	}

	.section-select .inner {
		width:90%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.section-select h1 {
		font-size:28px;
		margin-bottom:0;
	}

	.two-columns {
		width:100%;
		display: inline-block;
	}
	
	.promotion,
	.new {
		width:90%;
		margin: 0;
	}

	.promotion {
		width:58%;
		float:left;
	}

	.new {
		width:38%;
		float:right;
	}

	.video, .portfolio {
		display:inline-block;
		width:48%;
		height:350px;
		overflow:hidden;
	}

	.video {
		float:left;
	}

	iframe {
		width:100%;
		height: 95%;
	}

	.portfolio {
		float:right;
		margin:0;
	}
	
}

@media only screen and (min-width: 980px) {

	.section-select h1 {
		font-size:35px;
	}
	
}

@media only screen and (min-width: 1020px) {

	.home-sections div {
		height: 202.21px;
		font-size:18px;
	}

	.section-select h1 {
		font-size:39px;
	}

	.home-sections .three-columns div {
		width:151.84px;
		height: 202.21px;
	}

}

@media only screen and (min-width: 1280px) {

	.home-sections div {
		height: 254.84px;
		font-size:22px;
	}

	.section-select h1 {
		font-size:50px;
	}

	.home-sections .three-columns div {
		width:191.36px;
		height: 254.84px;
	}
	
}

@media only screen and (min-width: 1360px) {

	.home-sections .three-columns div:nth-child(2) {
		display:inline-block;
	}

}