/*##### Homepage #####*/

.home-sections {
	width:100%;
	display: inline-block;
	margin-bottom: 30px;
}

.home-sections div {
	width:48%;
	height: 240px;
	display: inline-block;
}

.section-select {
	margin-left:4%;
}

.inverse {
	margin-left:0%;
	margin-right:4%;
}

.home-sections .three-columns div {
  	position:relative;
  	width:31%;
	margin-left:3.384615384615385%;
	height: 100%;
}

.home-sections .three-columns img {
	position:absolute;
	width:100%;
	height:100%;
  	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
}

.home-sections:hover > .three-columns img.top {
  opacity:0;
}

.home-sections .three-columns div:first-child {
	margin-left:0;
	float:left;
}

.home-sections .three-columns div:last-child {
	margin-right:0;
	float:right;
}

.three-columns {
	float:left;
}

.section-select {
	text-align:center;
	float:left;
	background-color: #e11b22;
	transition: background-color 1s ease;
}

.home-sections:hover > .section-select  {
	background-color: #6d6f71;
}

/*.home-sections:hover > .three-columns img  {
	background-color: #6d6f71;
}*/

.section-select .inner {
	width:80%;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.section-select h1 {
	font-size:45px;
}

.two-columns {
	width:100%;
	display: inline-block;
}

.promotion {
	width:58%;
	float:left;
}

.new {
	width:38%;
	float:right;
}

.two-columns h3, .two-columns h4 {
	margin:0;
}

.promotion img, .new img {
	width:100%;
}

.video, .portfolio {
	display:inline-block;
	width:48%;
	height:350px;
	overflow:hidden;
}

.video {
	float:left;
}

iframe {
	width:100%;
	height: 95%;
}

.portfolio {
	float:right;
}

.portfolio img {
	width:100%;
}

.form-wrap {
  display:block;
  max-width:400px;
  margin:60px auto;
}

.help-block {
	display:none;
}