.gallery-list {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

.gallery-list .gallery-item {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;
}
 
.gallery-list .gallery-item h3 {
    text-transform: uppercase;
}
 
.gallery-list .gallery-item img {
    width: 100%;
    transition: all 1s ease;
}

.gallery-list .gallery-item img:hover {
    opacity:0.4;
    transform: scale(1.1);
}

.image {
    background-color:#e11b22;
    max-width:100%;
    overflow: hidden;
    border-radius:5px;
}

.gallery-list .gallery-item {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;    
    width: 20%;
    margin:  2% 2.5% 20px 2.5%; 
}

@media only screen and (max-width : 940px) {
    .gallery-list .gallery-item {width: 20%;}
}
 
@media only screen and (max-width : 720px) {
    .gallery-list .gallery-item {width: 28.3%;}
}
 
@media only screen and (max-width : 530px) {
    .gallery-list .gallery-item {width: 45%;}
}
 
@media only screen and (max-width : 320px) {
    .gallery-list .gallery-item {width: 99%;}
    .gallery-list .gallery-item img {width: 100%;}
    .gallery-list .gallery-item h3 {font-size: 18px;}
    .gallery-list .gallery-item p, {font-size: 18px;}
}

/*
.products img{
	position:absolute;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.products a:hover > .top {
	opacity:0;
} */


.products {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

.products .gallery-item {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;
}
 
.products .gallery-item h3 {
    text-transform: uppercase;
}
 
.products .gallery-item img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.products .gallery-item {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;    
    width: 16%;
    margin:  2% 2% 50px 2%; 
}

@media only screen and (max-width : 940px) {
    .products .gallery-item {width: 20%;}
}
 
@media only screen and (max-width : 720px) {
    .products .gallery-item {width: 28.3%;}
}
 
@media only screen and (max-width : 530px) {
    .products .gallery-item {width: 45%;}
}
 
@media only screen and (max-width : 320px) {
    .products .gallery-item {width: 99%;}
    .products .gallery-item img {width: 96%;}
    .products .gallery-item h3 {font-size: 18px;}
    .products .gallery-item p, {font-size: 18px;}
}

.slideshow img{
    max-width:140px;
}