#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

.form-wrap {
  display:inline-block;
  float:left;
  max-width:900px;
}

.form-wrap .form-items{
  max-width:100%;
}

.form-group {
  margin-left:0px!important;
}

.filters {
  margin:30px 0px;
}

.novo {
  margin:20px 0px;
}

.form-icon {
  display:inline-block;
  float:left;
  margin-left:100px;
}

#wrapper {
  text-align:center;
}