/*#####  Base declarations #####*/

@font-face { 
	src: url('fonts/ClearSans'); 
}

body, html {
	font-family: ClearSans, Sans-Serif;
	max-width:1310px;
	margin: 0 auto;
} 

.clear-fix {
	clear:both;
}

hr {
	margin:20px 0px;
}

.blue {
	color:blue;
}

.red {
	color:#e11b22;
}

.grey {
	color:#aeb0b2;
}

.dark-grey {
	color:#6d6f71;
}

.light-grey {
	color:#e6e7e9;
}

.white {
	color:white;
}

.title {
	font-weight: bold;
	font-size:20px;
}

.title-smaller {
	font-weight: bold;
	font-size:15px;
}

.separator {
	width:100%;
	height: 1px;
	margin:20px 0px;
}

div .separator {
	background-image:url('../images/separator.jpg');
	background-repeat:repeat-x;
	width:100%;
	height: 1px;
}

.clear-fix {
	clear:both;
}

.three-columns {
	width:100%;
}

.three-columns .column{
	width:32.6%;
	float:left;
}

.middle {
	margin: 0% 1%;
}

/*##### Header #####*/

header {
	position:relative;	
} 

.upper-header {
	width:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	height: 30px;
	text-align: center;
	display: inline-block;
	background-color:#e6e7e9;
	border-bottom: solid 1px grey;
}

.upper-header-content {
	display: inline-block!important;
	width:960px;
}

.upper-header div {
	line-height: 30px;
	display: inline;
	font-size:12px;
	color:#6d6f71;
	margin:0 7px;
}

.upper-header div:first-child {
	margin-left:0;
}

.upper-header div:last-child {
	margin-right:0;
}

.upper-header-left {
	float:left;
}

.login {
	float:right;
}

.upper-header img {
	width:12px;
	vertical-align: middle;
}

.language p, .phone p, .mobile-phone p, .facebook p, .distribution p, .login p, .validate-budget p {
	display: inline;
	vertical-align: middle;
}

.lower-header {
	margin-top:40px;
}

.lower-header-left {
	width:35%;
	float:left;
	position: relative;
}

.lower-header-right {
	width:65%;
	float:right;
}

.lower-header-right div {
	float:right;
	position:absolute;
	right:0%;
}

.validate-budget {
	font-weight: bold;
	font-size:14px;
}

.validate-budget img{
	width:21px;
	vertical-align: middle;
}

.logo {
	width:100%;
	max-width: 700px;
	margin-top:10px;
}

nav {
	margin-top:50px;
	width:100%;
	display:inline-block;
}

nav li {
	float:right;
	display:inline-block;
	margin: 0px;
	margin-left:20px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

nav li:hover {
	cursor:pointer;
	color:#e11b22;
}

.search_field {
	width:190px;
	float: right;
	display: block;
	margin-top:30px;
	background-color:#e6e7e9;
}

.search_field input {
	width:78%;
	float:left;
	position:relative;
	left:2%;
	border: none;
	background-color:#e6e7e9;
	font-style:italic;
	font-size:11px;
	padding-top: 2%;
}

.search_field button {
	position:relative;
	right:-4%;
	float:right;
	border: none;
	background: none;
	font-size:10px;
}

.search_field button img {
	width:22px;
}

/*##### Homepage #####*/

.home-sections {
	width:100%;
	display: inline-block;
	margin-bottom: 30px;
}

.home-sections div {
	width:48%;
	height: 240px;
	display: inline-block;
}

.section-select {
	margin-left:4%;
}

.inverse {
	margin-left:0%;
	margin-right:4%;
}

.home-sections img {
	width:31%;
	margin-left:3.384615384615385%;
	height: 100%;
}

img:first-child {
	margin-left:0;
	float:left;
}

img:last-child {
	margin-right:0;
	float:right;
}

.three-columns {
	float:left;
}

.section-select {
	text-align:center;
	float:left;
	background-color: #e11b22;
	transition: background-color 1.5s ease;
}

.home-sections:hover > .section-select  {
	background-color: #6d6f71;
}

/*.home-sections:hover > .three-columns img  {
	background-color: #6d6f71;
}*/

.section-select .inner {
	width:80%;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.section-select h1 {
	font-size:45px;
}

.two-columns {
	width:100%;
	display: inline-block;
}

.promotion {
	width:58%;
	float:left;
}

.new {
	width:38%;
	float:right;
}

.two-columns h3, .two-columns h4 {
	margin:0;
}

.promotion img, .new img {
	width:100%;
}

.video, .portfolio {
	display:inline-block;
	width:48%;
	height:350px;
	overflow:hidden;
}

.video {
	float:left;
}

iframe {
	width:100%;
	height: 95%;
}

.portfolio {
	float:right;
}

.portfolio img {
	width:100%;
}

.form-wrap {
  display:block;
  max-width:400px;
  margin:60px auto;
}

.form-group {


}
