/*##### Base declarations #####*/

@font-face { 
	src: url('fonts/ClearSans'); 
}

body, html {
	font-family: ClearSans, Sans-Serif;
	width:960px;
	margin: 0 auto;
} 

.blue {
	color:blue;
}

.red {
	color:#e11b22;
}

.grey {
	color:#aeb0b2;
}

.dark-grey {
	color:#6d6f71;
}

.light-grey {
	color:#e6e7e9;
}

.white {
	color:white;
}

.title {
	font-weight: bold;
	font-size:20px;
}

.title-smaller {
	font-weight: bold;
	font-size:15px;
}

.separator {
	width:100%;
	height: 1px;
	margin:20px 0px;
}

div .separator {
	background-image:url('../images/separator.jpg');
	background-repeat:repeat-x;
	width:100%;
	height: 1px;
}

.clear-fix {
	clear:both;
}

.three-columns {
	width:100%;
}

.three-columns .column{
	width:32.6%;
	float:left;
}

.middle {
	margin: 0% 1%;
}

/*##### Header #####*/

header {
	position:relative;	
} 

.upper-header {
	width:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	height: 30px;
	text-align: center;
	display: inline-block;
	background-color:#e6e7e9;
	border-bottom: solid 1px grey;
}

.upper-header-content {
	display: inline-block!important;
	width:960px;
}

.upper-header div {
	line-height: 30px;
	display: inline;
	font-size:12px;
	color:#6d6f71;
	margin:0 7px;
}

.upper-header div:first-child {
	margin-left:0;
}

.upper-header div:last-child {
	margin-right:0;
}

.upper-header-left {
	float:left;
}

.login {
	float:right;
}

.upper-header img {
	width:12px;
	vertical-align: middle;
}

.language p, .phone p, .mobile-phone p, .facebook p, .distribution p, .login p, .validate-budget p {
	display: inline;
	vertical-align: middle;
}

.lower-header {
	margin-top:40px;
}

.lower-header-left {
	width:35%;
	float:left;
	position: relative;
}

.lower-header-right {
	width:65%;
	float:right;
}

.lower-header-right div {
	float:right;
	position:absolute;
	right:0%;
}

.validate-budget {
	font-weight: bold;
	font-size:14px;
}

.validate-budget img{
	width:21px;
	vertical-align: middle;
}

.logo {
	width:100%;
	max-width: 700px;
	margin-top:10px;
}

nav {
	margin-top:50px;
	width:100%;
	display:inline-block;
}

nav li {
	float:right;
	display:inline-block;
	margin: 0px;
	margin-left:20px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

nav li:hover {
	cursor:pointer;
	color:#e11b22;
}

.search_field {
	width:190px;
	float: right;
	display: block;
	margin-top:30px;
	background-color:#e6e7e9;
}

.search_field input {
	width:78%;
	float:left;
	position:relative;
	left:2%;
	border: none;
	background-color:#e6e7e9;
	font-style:italic;
	font-size:11px;
	padding-top: 2%;
}

.search_field button {
	position:relative;
	right:-4%;
	float:right;
	border: none;
	background: none;
	font-size:10px;
}

.search_field button img {
	width:22px;
}

/*##### BODY #####*/ 

.four-columns {
	width:100%;
}

.slick-slide {
	max-height:300px!important;
}

.four-columns .column {
	width:24.652%;
	display:inline-block;
}

.four-columns .column img {
	width:100%;
}

.four-columns .product-description img {
	width:12px;
}

.four-columns .see-more {

}

.carousel-next, .carousel-previous {
	width:40px;
	position:absolute;
	top:60px;
}

.carousel-next {
	right: 0;
	transform:rotate(180deg);
}

.three-columns .column .product-image{
	width:100%;
	height: 240px;
}

.product-description {
	margin-top:3%;
	margin-left:2%;
	position:relative;
}

.product-description img {
	width:12px;
	vertical-align: middle;
}

.product-description p {
	display: inline;
	font-size:12px;
}

.see-more {
	font-size:18px!important;
	position: relative;
	right:-10%;
}

.map {
	height: 300px;
}

.map p{
	padding-top:2%;
	margin-bottom:0%;
}

#map-canvas {
	width: 100%;
	height: 78%;
}

/*##### Footer #####*/

footer {
	margin:20px 0;
	color: #6d6f71;
	font-size:12px;
	background-color:#e6e7e9;
}

.newsletter {
	width:25%;
	float:left;
}

.newsletter form {
	display:inline;
}

.newsletter input {
	width:200px;
}

.newsletter img {
	display: inline;
	float:right;
	width:25px;
}

footer nav {
	font-weight: bold;
	float:right;
	width:75%;
	margin-top:3%;
}

footer h3 {
	margin:0;
}

footer .column {
	width:31%!important;
}

footer .middle {
	width:35%!important;	
}

footer .column.right div {
	margin-bottom:10px;
}

footer .column.right img {
	width:12px;
	vertical-align: middle;
	margin-right:4px;
}

.footer-about-left, .footer-about-right {
	float:left;
	width:50%
}

.footer-about-left ul, .footer-about-right ul {
	padding:0;
	text-indent:5px;
}

.footer-about-left li, .footer-about-right li {
	list-style: none;
}

footer .distribution img {
	width:12px;
	vertical-align: middle;
}

footer .middle .separator {
	margin-top:5px;
	margin-bottom:13px;
}

.social-networks {
	text-align: center;
}

.social-networks img {
	width:13.521%;
}

footer .address {
	padding-left: 1.5em;
	text-indent:-1.5em;
}

footer .address p {
	display: inline;
}

.footer-lower {
	margin-top:20px;
	text-align: center;
}

/*######    Slideshow     #####*/

#slideshow {
	margin-top: 3%;
}

.bjqs-controls a {
	width:5%;
}

.bjqs-controls img {
	width:100%;
}

.bjqs-next img {
	transform:rotate(180deg);
}

ol.bjqs-markers li {
	background-color: white;
	display:inline-block !important;
	position:relative;
	left:85%;
	top:-30px;
	margin: 0% 5px;
	width:16px;
	height:16px;
	background: -moz-linear-gradient(left,  rgba(204,249,255,0.5) 0%, rgba(204,249,255,0.5) 23%, rgba(204,249,255,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,249,255,0.5)), color-stop(23%,rgba(204,249,255,0.5)), color-stop(100%,rgba(204,249,255,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(204,249,255,0.5) 0%,rgba(204,249,255,0.5) 23%,rgba(204,249,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(204,249,255,0.5) 0%,rgba(204,249,255,0.5) 23%,rgba(204,249,255,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(204,249,255,0.5) 0%,rgba(204,249,255,0.5) 23%,rgba(204,249,255,0.5) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(204,249,255,0.5) 0%,rgba(204,249,255,0.5) 23%,rgba(204,249,255,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ccf9ff', endColorstr='#80ccf9ff',GradientType=1 ); /* IE6-9 */
}

ol.bjqs-markers li a {
	width:16px;
	height:16px;
	color: transparent; 
}

ol.bjqs-markers li.active-marker {
	border:0;
	background: rgb(206,4,4); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(206,4,4,1) 0%, rgba(206,4,4,1) 23%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,4,4,1)), color-stop(23%,rgba(206,4,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(206,4,4,1) 0%,rgba(206,4,4,1) 23%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(206,4,4,1) 0%,rgba(206,4,4,1) 23%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(206,4,4,1) 0%,rgba(206,4,4,1) 23%); /* IE10+ */
	background: linear-gradient(to right,  rgba(206,4,4,1) 0%,rgba(206,4,4,1) 23%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0404', endColorstr='#ce0404',GradientType=1 ); /* IE6-9 */
}