@font-face { 
	src: url('fonts/ClearSans'); 
}

body, html {
	font-family: ClearSans, Sans-Serif;
	width:960px;
	margin: 0 auto;
} 

.blue {
	color:blue;
}

.red {
	color:rgb(206,25,32);
}

.grey {
	rgb(110,111,113);
}

.white {
	color:white;
}

.title {
	font-weight: bold;
	font-size:20px;
}

.title-smaller {
	font-weight: bold;
	font-size:15px;
}

.separator {
	width:100%;
	height: 1px;
	margin:20px 0px;
}

header {
	position:relative;	
} 

.upper-header {
	width:100%;
	height: 30px;
	display: inline-block;
	background-color:lightgrey;
	border-bottom: solid 1px grey;
}

.upper-header div {
	line-height: 30px;
	display: inline;
	font-size:12px;
	color:grey;
	margin:0 7px;
}

.upper-header-left {
	float:left;
}

.login {
	float:right;
}

.upper-header img {
	width:12px;
	vertical-align: middle;
}

header .arrow-right {
	width:10px !important;
	height: 11px;
}

.language p, .phone p, .mobile-phone p, .facebook p, .distribution p, .login p, .validate-budget p {
	display: inline;
	vertical-align: middle;
}

.lower-header {
	margin-top:20px;
}

.lower-header-left {
	width:35%;
	float:left;
	position: relative;
}

.lower-header-right {
	width:65%;
	float:right;
}

.lower-header-right div {
	float:right;
	position:absolute;
	right:0%;
}

.validate-budget {
	font-weight: bold;
	font-size:14px;
}

.validate-budget img{
	width:21px;
	vertical-align: middle;
}

.clear-fix {
	clear:both;
}

.logo {
	width:100%;
	max-width: 700px;
	margin-top:10px;
}

nav {
	margin-top:50px;
	width:100%;
	display:inline-block;
}

nav li {
	float:right;
	display:inline-block;
	margin: 0px;
	margin-left:20px;
	font-size: 14px;
	text-transform: uppercase;
}

nav li:hover {
	cursor:pointer;
	color:rgb(206,25,32);
}

.search_field {
	width:190px;
	float: right;
	display: block;
	margin-top:30px;
	background-color:lightgrey;
}

.search_field input {
	width:78%;
	float:left;
	position:relative;
	left:2%;
	border: none;
	background-color:lightgrey;
	font-style:italic;
	font-size:11px;
	padding-top: 2%;
}

.search_field button {
	position:relative;
	right:-4%;
	float:right;
	border: none;
	background: none;
	font-size:10px;
}

.search_field button img {
	width:24px;
}

footer {
	margin:20px 0;
	color:grey;
	font-size:12px;
}

.newsletter {
	width:25%;
	float:left;
}

.newsletter form {
	display:inline;
}

.newsletter input {
	width:200px;
}

.newsletter img {
	display: inline;
	float:right;
	width:25px;
}

footer nav {
	float:right;
	width:75%;
	margin:4% 0%;
}

.three-columns {
	width:100%;
}

.three-columns .column{
	width:32.6%;
	float:left;
}

.three-columns .column .product-image{
	width:100%;
	height: 240px;
}

.middle {
	margin: 0% 1%;
}

.product-description {
	margin-top:3%;
	margin-left:2%;
	position:relative;
}

.product-description img {
	width:6px;
	vertical-align: middle;
}

.product-description p {
	display: inline;
	font-size:12px;
}

.see-more {
	font-size:18px!important;
	position: relative;
	right:-10%;
}

.location {
	background-color:rgb(110,111,113);
	height: 300px;
}

.location p{
	padding-top:2%;
	margin-bottom:0%;
}

#map-canvas {
	width: 100%;
	height: 75%;

}

/*    Slideshow Zone     */

#slideshow {
	margin-top: 3%;
}

.bjqs-controls a {
	width:5%;
}

.bjqs-controls img {
	width:100%;
}

.bjqs-next img {
	transform:rotate(180deg);
}

ol.bjqs-markers li {
	background-color: white;
	display:inline-block !important;
	position:relative;
	left:85%;
	top:-30px;
	margin: 0% 5px;
	width:16px;
	height:16px;
	background: -moz-linear-gradient(left,  rgba(204,249,255,0.5) 0%, rgba(204,249,255,0.5) 23%, rgba(204,249,255,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,249,255,0.5)), color-stop(23%,rgba(204,249,255,0.5)), color-stop(100%,rgba(204,249,255,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(204,249,255,0.5) 0%,rgba(204,249,255,0.5) 23%,rgba(204,249,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(204,249,255,0.5) 0%,rgba(204,249,255,0.5) 23%,rgba(204,249,255,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(204,249,255,0.5) 0%,rgba(204,249,255,0.5) 23%,rgba(204,249,255,0.5) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(204,249,255,0.5) 0%,rgba(204,249,255,0.5) 23%,rgba(204,249,255,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ccf9ff', endColorstr='#80ccf9ff',GradientType=1 ); /* IE6-9 */
}

ol.bjqs-markers li a {
	width:16px;
	height:16px;
	color: transparent; 
}

ol.bjqs-markers li.active-marker {
	border:0;
	background: rgb(206,4,4); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(206,4,4,1) 0%, rgba(206,4,4,1) 23%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,4,4,1)), color-stop(23%,rgba(206,4,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(206,4,4,1) 0%,rgba(206,4,4,1) 23%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(206,4,4,1) 0%,rgba(206,4,4,1) 23%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(206,4,4,1) 0%,rgba(206,4,4,1) 23%); /* IE10+ */
	background: linear-gradient(to right,  rgba(206,4,4,1) 0%,rgba(206,4,4,1) 23%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0404', endColorstr='#ce0404',GradientType=1 ); /* IE6-9 */
}

/*     Slideshow Zone End    */

